{% extends '@EasyAdmin/default/edit.html.twig' %}

{% block body %}
    <h1>Edit Ad</h1>

    {{ parent() }}

    <div class="container flex-fill">
        {{ render(controller('App\\Controller\\LogController::logTodayCharts', { 'id': ea_crud.id })) }}
        {{ render(controller('App\\Controller\\LogController::logAllCharts', { 'id': ea_crud.id })) }}
    </div>
{% endblock %}
